body{
    background : rgb(255, 255, 255);
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0%;
    padding: 0%;
} 

table{
    position: fixed;
    background-color: rgb(246, 246, 246);
    width : 100%;
    z-index: 100;
}

#SearchBar{
    grid-template-columns: repeat(4,1fr);
    display: grid;
    gap : 10px;
    border-radius : 5px;
    align-items: right;
    justify-items: right;
}
td{
    align-items: center;
}

#nav{
    align-items: right;
    text-align: center;
    transition: transform 0.5s;
    margin-top: 0%;
}

#nav:hover{
    transform: scale(1.1);
    border-radius: 50px 50px 0px 0px;
    background-color :rgb(203, 203, 203);
}

#homepage{
    width : 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

#preloader{
    background :white url(flower_puzzles_preloader_for_dribble.gif) no-repeat center center;
    position: fixed;
    background-size: 50%;
    width: 100%;
    height: 100vh;
}

.categories{
    margin-top: 100px;
    width : 100%;
    grid-template-columns: repeat(4,1fr);
    display: grid;
    gap : 40px;
    justify-items: center;
    align-items: center;
}

@keyframes appear{
    from{
        opacity : 0;
        scale : 0.5;
    }
    to{
        opacity : 1;
        scale : 1;
    }
}

#seeds{
    transition: transform 0.5s;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

#seeds:hover{
    transform: scale(1.2);
}

#accessories{
    transition: transform 0.5s;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

#accessories:hover{
    transform: scale(1.2);
}

#plants{
    transition: transform 0.5s;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

#plants:hover{
    transform: scale(1.2);
}

#plant_care{
    transition: transform 0.5s;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

#plant_care:hover{
    transform: scale(1.2);
}

.page_divider{
    margin-top: 100px;
    margin-bottom: 100px;
    width : 100%;
    grid-template-columns: repeat(4,1fr);
    display: grid;
    gap : 0px;
    justify-items: center;
    align-items: center;
}

.head{
    color : rgb(255, 255, 255);
    text-align: center;
    font-size:10em;
} 

#text{
    width : 50%;
    text-align: center;
    padding: 10px;
    border : 2px dotted gold;
    margin-left: 50px;
}

.cls{
    font-size: 0.25em;
}

.header{
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-image: url("background.jpeg");
    height: 600px;
    width:100%;
    background-size: cover;
    position: fixed;
    margin-right: 20px;
}

.box{
    margin-top: 100px;
    margin-right: 50px;
    width : 100%;
    grid-template-columns: repeat(3,1fr);
    display: grid;
    gap : 20px;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.join{
    border : 1px solid black;
    border-radius: 5px;
    background-color: rgba(0, 128, 0, 0.113);
    width : 100px;
    height : 50px;
    z-index: 5px;
}

a {
    color: black; /* Default color for the link */
    text-decoration: none; /* Removes the underline */
}

/* Style for visited link */
a:visited {
    color: black; /* Changes color for visited links */
}

/* Style when hovering over the link */
a:hover {
    color: black; /* Color when hovering */
    text-decoration: underline; /* Adds underline on hover */
}

/* Style when link is active (clicked) */
a:active {
    color: black; /* Changes color when the link is clicked */
}


#signup{
    transition: transform 0.5s;
    align-items:center ;
    text-align: center;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

#signup:hover{
    transform: scale(1.1);
}

.about_us{
    margin-bottom: 100px;
    margin-right: 50px;
    width : 100%;
    height: 300px;
    grid-template-columns: repeat(4,1fr);
    display: grid;
    gap : 20px;
    justify-items: center;
    align-items: center;
    background-color :rgba(141, 201, 3, 0.895)
}

.socials-container{
    background-color: rgb(232, 232, 232);
}