
@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

*{
    margin: 0;
    padding: 0;

    
}

img{
    width: 100%;
    height: 100vh;
}

.main{
    
    display: flex;
    justify-content: center;
    align-items: center;
    .sofadi-one-regular {
        font-family: "Sofadi One", system-ui;
        font-weight: 400;
        font-style: normal;
      }
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      
}
.box{
    background-color: rgb(255, 254, 254);
    position: absolute;
    height: 61vh;
    width: 30vw;
     /* position: relative; */
    justify-content: center; 
    /* align-items: center; */
    display: flex;
   /* bottom: 739px;
  left: 681px; */
    opacity: 0.8; 
    border: 2px solid rgb(0, 0, 0);  
    border-radius: 38px;
    box-shadow: 10px 10px 5px black ;
  

}

.log{
    /* background-color: white; */
    color: rgb(0, 0, 0);
    font-size: 51px;
  line-height: 1.8;
  letter-spacing: 0.068em;
  font-weight: 500;
  font-style: normal;
  position: relative;
  left: 21px;
  text-decoration:underline;


}

.txt{
    color: rgb(0, 0, 0);
  position: relative;
  /* top: 154px; */
  right: 108px;

}

#inp{
    /* background-color: hsl(0, 0%, 2%); */
    display: flex;
    flex-direction: row;
    position: relative;
  right: 107px;
  top: 4px;
  width: 201%;
  color:rgb(0, 0, 0);
  border: none;
  background: transparent;
  border-bottom: 4px solid black;
  outline: none;


}


.txt1{
    color: rgb(0, 0, 0);
  position: relative;
  top: 45px;
  right: 108px;

}

#inp1{
    /* background-color: hsl(0, 0%, 2%); */
    display: flex;
    flex-direction: row;
    position: relative;
  right: 108px;
  top: 51px;
  width: 201%;
  border:none;
  color:rgb(0, 0, 0);
  background: transparent;
  border-bottom: 4px solid black;
  outline: none;

}

.box2{
    position: relative;
    top: 38px;
}

.login_box{
  background-color: rebeccapurple;
  color: white;
  height: 8vh;
  width: 129%;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 120px;
  right: 39px;
  opacity: 2;
  border-radius: 17px;
  border: 3px solid black;
  font-size: 28px;
  line-height: 1.4;
  letter-spacing: 0.208em;
  font-weight: 100;
  font-style: normal;



}

.login_box:hover{
    background-color: rgb(125, 227, 10);
    color: whitesmoke;
}

.acct{
    position: relative;
  top: 126px;
  right: 7px;

}

.icons{
    position: relative;
  top: 217px;
  left: 38px;
  font-size: 21px;
  line-height: 0.9;
  letter-spacing: 0.361em;
  font-weight: 900;
  font-style: normal;


}

.copyright{
    color: black;
    z-index: 2;
  position: relative;
  top: 219px;
  left: 68px;

}

